{
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "tailwindStylesheet": "./app/global.css",
  "tailwindFunctions": ["cn", "cva"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
