@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sh-class: #fafafa;
  --sh-identifier: #fafafa;
  --sh-sign: #a1a1aa;
  --sh-property: #a1a1aa;
  --sh-entity: #a1a1aa;
  --sh-jsxliterals: #a1a1aa;
  --sh-string: #fafafa;
  --sh-keyword: #a1a1aa;
  --sh-comment: #71717a;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

@-webkit-keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

[data-animate] {
  --stagger: 0;
  --delay: 120ms;
  --start: 0ms;
}

@media (prefers-reduced-motion: no-preference) {
  [data-animate] {
    -webkit-animation: enter 1s both;
    animation: enter 1s both;
    -webkit-animation-delay: calc(var(--stagger) * var(--delay) + var(--start));
    animation-delay: calc(var(--stagger) * var(--delay) + var(--start));
  }
}

.auto-link-heading {
  @apply -ml-[1em] pl-[1em] before:absolute before:-ml-[1em] before:text-zinc-100/0 before:content-['#'] group-hover:before:text-zinc-100/50;
}

.prose h2,
.prose h3,
.prose h4 {
  @apply text-base font-normal tracking-tight !important;
}

.prose .anchor {
  @apply invisible absolute no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply decoration-zinc-400 decoration-[0.1em] underline-offset-2 transition-all dark:decoration-zinc-600;
}

.prose .anchor:after {
  @apply text-zinc-300 dark:text-zinc-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before,
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
  content: "";
}

.form-text-field-phone {
  display: none;
}
