@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: var(--geist-font), sans-serif;
  --font-mono: var(--geist-mono-font), "Menlo", "Monaco", "Courier New", monospace;
}

:root {
  --sh-background: var(--color-zinc-100); /* Code background (light) */
  --sh-identifier: var(--color-zinc-950); /* Variables, function names */
  --sh-class: var(--color-zinc-900); /* Class names */
  --sh-sign: var(--color-zinc-700); /* Operators (+, -, *, /, =) */
  --sh-string: var(--color-emerald-600); /* Strings */
  --sh-keyword: var(--color-indigo-700); /* Keywords (if, else, return) */
  --sh-comment: var(--color-zinc-500); /* Comments */
  --sh-jsxliterals: var(--color-rose-700); /* JSX tags */
  --sh-property: var(--color-blue-700); /* Object properties */
  --sh-entity: var(--color-cyan-700); /* Special entities */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #7aa2f7;
    --sh-sign: #89ddff;
    --sh-string: #9ece6a;
    --sh-keyword: #bb9af7;
    --sh-comment: #565f89;
    --sh-jsxliterals: #7aa2f7;
    --sh-property: #73daca;
    --sh-entity: #e0af68;
  }
} */

html {
  min-width: 360px;
  scrollbar-gutter: stable;
}

body {
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

pre {
  background-color: var(--color-zinc-100);
  border-color: var(--color-zinc-950);
  border-width: 1px;
  border-radius: 4px;
  overflow-x: auto;
  padding: 1rem;
  margin: 1.5rem 0;
  line-height: 1;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

code {
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  background-color: var(--color-zinc-100);
}

pre code {
  background-color: transparent;
  padding: 0;
  border: none;
  line-height: 1.5;
}

code:not(pre code) span {
  font-weight: 500;
  color: black !important;
}

/* @media (prefers-color-scheme: dark) {
  code {
    font-family: "Menlo", "Monaco", "Courier New", monospace;
    font-size: 14px;
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
    background-color: var(--color-zinc-800);
  }

  code:not(pre code) span {
    color: var(--color-zinc-100) !important;
  }
} */

pre code span {
  font-weight: 500;
}

hr {
  color: var(--color-gray-200);
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.site-anchor {
  view-transition-name: site-anchor;
  width: fit-content;
}
