@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

@-webkit-keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

[data-animate] {
  --stagger: 0;
  --delay: 120ms;
  --start: 0ms;
}

@media (prefers-reduced-motion: no-preference) {
  [data-animate] {
    -webkit-animation: enter 1s both;
    animation: enter 1s both;
    -webkit-animation-delay: calc(var(--stagger) * var(--delay) + var(--start));
    animation-delay: calc(var(--stagger) * var(--delay) + var(--start));
  }
}

.auto-link-heading {
  @apply -ml-[1em] pl-[1em] before:absolute before:-ml-[1em] before:text-zinc-100/0 before:content-['#'] group-hover:before:text-zinc-100/50;
}
