:root {
  --shiki-color-text: #fafafa;
  --shiki-color-background: #09090b;
  --shiki-token-constant: #a1a1aa;
  --shiki-token-string: #d4d4d8;
  --shiki-token-comment: #71717a;
  --shiki-token-keyword: #d4d4d8;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #a1a1aa;
  --shiki-token-string-expression: #fafafa;
  --shiki-token-punctuation: #a1a1aa;
  --shiki-token-link: #d4d4d8;
  --nextra-shiki-deleted: #f00;
  --nextra-shiki-inserted: #d4d4d8;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm;
  counter-reset: line;
  box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] .line {
  @apply px-4 py-1;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  @apply text-zinc-50;
}

[data-rehype-pretty-code-fragment] [data-line] {
  @apply border-x-4 border-zinc-950;

  --shiki-color-text: #fafafa;
  --shiki-color-background: #a1a1aa;
  --shiki-token-constant: #a1a1aa;
  --shiki-token-string: #e4e4e7;
  --shiki-token-comment: #a1a1aa;
  --shiki-token-keyword: #e4e4e7;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #a1a1aa;
  --shiki-token-string-expression: #fafafa;
  --shiki-token-punctuation: #a1a1aa;
  --shiki-token-link: #e4e4e7;
  --nextra-shiki-deleted: #f00;
  --nextra-shiki-inserted: #e4e4e7;
}

[data-rehype-pretty-code-fragment] [data-highlighted-line] {
  @apply border-x-4 border-zinc-900 bg-zinc-900;

  --shiki-color-text: #fafafa;
  --shiki-color-background: #a1a1aa;
  --shiki-token-constant: #a1a1aa;
  --shiki-token-string: #e4e4e7;
  --shiki-token-comment: #a1a1aa;
  --shiki-token-keyword: #e4e4e7;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #a1a1aa;
  --shiki-token-string-expression: #fafafa;
  --shiki-token-punctuation: #a1a1aa;
  --shiki-token-link: #e4e4e7;
  --nextra-shiki-deleted: #f00;
  --nextra-shiki-inserted: #e4e4e7;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-lg bg-zinc-800 bg-opacity-10 p-1;
}
[data-rehype-pretty-code-title] {
  @apply mt-4 px-4 py-2 text-sm font-medium;
}
[data-rehype-pretty-code-title] + pre {
  @apply mt-0;
}
